<h1>Salas de Juego</h1>

<h2> Salas Activas </h2>

<ul>
  <% @active_rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %> - Estado: <%= room.status %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Crear nueva sala', new_room_path %>

<br />
<h2> Salas finalizadas </h2>

<ul>
  <% @finished_rooms.each do |room|  %>
    <li>
      <%= link_to room.name, room_path(room) %>
    </li>
  <% end %>
</ul>

