<h1>Salas disponibles</h1>

<%= image_tag 'dice_roll.gif',
  alt: 'Rolling...',
  width: 100,
height: 100 %>
<br />

<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %> - Estado: <%= room.status %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Crear nueva sala', new_room_path %>
