<h1>Salas disponibles</h1>

<%= link_to 'Crear nueva sala', new_room_path %>

<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= link_to room.name, room_path(room) %> - Estado: <%= room.status %>
    </li>
  <% end %>
</ul>
